::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #FF859B; 
    border-radius: 10px;
}

@media (max-width: 670px) {
    ::-webkit-scrollbar {
        display: none;
    }
}